
RewriteOptions inherit

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
RewriteRule ^kirim-doa post/post_ajax.php
RewriteCond %{HTTP_HOST} ^malik\.terabytee\.my\.id$ [OR]
RewriteCond %{HTTP_HOST} ^www\.malik\.terabytee\.my\.id$
RewriteRule ^\.7b\/tera_bytes\/mee\/malik$ "https\:\/\/terabytee\.my\.id\/malik" [R=302,L]

